.slike .slika{
    display: inline-block;
    position: relative;
}

.slike .delete-icon {
    position: absolute;
    top: 0;
    right: 4px;
    color: black;
    padding: 5px;
    display: none;
}

.slike .slika:hover .delete-icon {
    display: inline-block;

}
